/* roboto-condensed-300 - latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-300italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 300;
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-300italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-regular - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-regular.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-700 - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }
  /* roboto-condensed-700italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Condensed';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/roboto/roboto-condensed-v25-latin-ext-700italic.svg#RobotoCondensed') format('svg'); /* Legacy iOS */
  }











  /* playfair-display-regular - latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-regular.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 400;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-500 - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-500italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 500;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-500italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-600 - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-600italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 600;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-600italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-700 - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-700italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 700;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-700italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-800 - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-800italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 800;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-800italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-900 - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }
  /* playfair-display-900italic - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900italic.eot'); /* IE9 Compat Modes */
    src: url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900italic.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/playfair/playfair-display-v30-latin-ext-900italic.svg#PlayfairDisplay') format('svg'); /* Legacy iOS */
  }