@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/assets/fonts/fonts.css');

@layer components {
      .body {
        @apply m-0 p-0 h-screen text-white bg-purple-500 font-light text-[90%] lg:text-[100%];
      }
    
      h2 {
        font-size: clamp(1rem, 5vw, 5rem);
        font-weight: 400;
        text-align: center;
        /*letter-spacing: 0.5em;*/
        margin-right: -0.5em;
        color: #cccccc;
        @apply max-w-[80vw] lg:max-w-6xl font-serif uppercase;
      }

      .card-title {
        @apply font-sans;
      }

      .card-image {
       @apply hidden md:block object-cover aspect-3/2 w-full;
      }
    
      .header {
        @apply fixed flex items-center justify-between py-0 mt-4 md:mt-0 w-full z-[3] h-10 md:h-[6rem] font-sans leading-[.5em] px-4 md:px-[2%];
        font-size: clamp(0.66rem, 2vw, 1rem);
      }
    
      section {
        @apply h-full w-full top-0 fixed invisible will-change-transform;
      }
    
      section .outer,
      section .inner {
        @apply h-full w-full will-change-transform overflow-y-hidden;
      }
    
      section .bg {
        @apply px-4 md:px-[2%] flex items-center justify-center absolute h-full w-full top-0 bg-cover bg-center;
      }
    
      section .bg h2 {
        @apply z-[2];
      }
    
      section .bg .clip-text {
        @apply overflow-hidden;
      }
    
      h2 * {
        @apply will-change-transform;
      }
    
      .first .bg {
      @apply bg-none bg-pink-600 bg-gradient-to-b from-purple-500 to-pink-500;
      }
    
      .second .bg {
           @apply bg-none bg-pink-600 bg-gradient-to-b from-green-700 to-green-600;
      }
    
      .third .bg {
       @apply bg-none bg-pink-600 bg-gradient-to-b from-indigo-500 to-sky-500;
      }
    
      .fourth .bg {
       @apply bg-none bg-pink-600 bg-gradient-to-b from-sky-500 to-cyan-500;
      }
    
      .fifth .bg {

      }

      .webgi-container-outer {
        @apply fixed top-0 pointer-events-none z-50;
      }

      #tweakpaneUiContainer {
        @apply hidden;
      }

      #webgi-canvas {
        @apply w-full h-full bg-transparent;
      }
    
      #webgi-canvas-container{
        @apply w-screen h-screen;      
      }

      section .outer {
        @apply relative; 
      }

      section .outer-before--icon {
        @apply animate-bounce text-center bg-black/50 text-white absolute -bottom-3 right-4 left-auto rounded-t-lg z-1 cursor-pointer font-light opacity-40 px-3 py-2 mix-blend-darken hover:mix-blend-color-burn hover:shadow-md uppercase flex flex-row gap-1 justify-center items-center;
        animation-duration: 3s;
      }

      .outer-before--arrow {
        @apply mb-[3px];
      }

      .card-outer, .card-outer .card {
        @apply h-full;
      }

      model-viewer {
        @apply h-full w-full;
      }

      .section-2__products-inner .card {
        @apply transition-all ease-in-out duration-300;
      }

      .section-2__products-inner .card:hover {
        @apply bg-black/90 lg:!scale-110 z-1 shadow-lg md:shadow-xl;
        backdrop-filter: none !important;
      }

      .section-2__products-inner .card:hover img {
        @apply mix-blend-normal;
      }

      .glass img {
        @apply mix-blend-hard-light;
      }

      .modal .btn-circle {
        @apply z-1;
      }

      .modal, .drawer-toggle:checked ~ .drawer-side > .drawer-overlay {
        @apply backdrop-blur-lg;
      }

      .modal-box::-webkit-scrollbar {
        @apply w-3;
      }

      /* Works on Firefox */

    * {
      scrollbar-width: thin;
      scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 12px;
    }

    *::-webkit-scrollbar-track {
      background: transparent;
    }

    *::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 20px;
      border: 3px solid transparent;
    }

    .drawer-side a {
      @apply text-blue-600 hover:text-black transition-colors;
    }

    .card-body {
      @apply p-4 lg:p-6 xl:p-8;
    }

    .btn-circle {
      @apply text-white hover:font-bold hover:scale-110;
    }

    .bottom-section {
      @apply absolute bottom-0 translate-y-1/3 xl:-translate-x-2 left-0 z-0 text-9xl mix-blend-soft-light text-white font-sans;
    }

    .bottom-section h2 {
      @apply font-black font-sans;
    }

    .menu :where(li) > :where(*:not(ul)) {
      @apply px-1 py-1.5;
    }

    .drawer-side a {
      @apply font-normal;
    }

    .menu .menu-title {
      @apply font-normal;
    }

    .btn {
      @apply transition-all duration-300 ease-in-out hover:shadow-lg;
    }
  }